{% extends "base.html" %}

{% block content %}
    <h1>{% block title %} Comentários {% endblock %}</h1>
    {% for post in posts %}
        <div class="container">
            <a class="text-decoration-none" href="{{ url_for('post', post_id=post['id']) }}">
                <h2 class="text-danger">{{ post['title'] }}</h2>
            </a>
            <p>{{ post['content'] }}</p>
            <strong>Data do comentário: </strong><span class="badge badge-primary">{{ post['created'] }}</span>
            <a href="{{ url_for('edit', id=post['id']) }}">
                <span class="badge badge-warning">Editar</span>
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock %}