{% extends "base.html" %}

{% block content %}
    <h1>{% block title %} Novo comentário {% endblock %}</h1>

    <form method="post">
        <div class="container">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" placeholder="Escreva um título..." class="form-control" value="{{ request.form['tile'] }}" />
            </div>

            <div class="form-group">
                <label for="content">Comentário</label>
                <textarea name="content" placeholder="Deixe aqui seu comentário..." class="form-control" value="{{ request.form['content'] }}"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
{% endblock %}