{% extends "base.html" %}

{% block content %}
    <h1>{% block title %} Editar "{{ post['title'] }}"  {% endblock %}</h1>

    <form method="post">
        <div class="container">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" placeholder="Escreva um título..." class="form-control"
                       value="{{ request.form['tile'] or post['title'] }}" />
            </div>

            <div class="form-group">
                <label for="content">Comentário</label>
                <textarea name="content" placeholder="Deixe aqui seu comentário..."
                          class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
    <hr>
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
            <div class="container">
                <input type="submit" value="Apagar" class="btn btn-danger btn-sm"
                onclick="return confirm('Tem certeza que deseja apagar essa comentario?')"/>
            </div>
    </form>
{% endblock %}