{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>{% block title %} Livroteca {% endblock %}</h1>
        <p>Seja bem-vindo!</p>
        <p>Aqui você aprenderá orientações e dicas simples e diretas para que você comece o quanto antes a colocar em prática estratégias de interação, conversas e leitura em voz alta com crianças.</p>
        <p>Os materias deste trabalho: livros, vídeos e links estão disponíveis gratuitamente em</p><a class="text-decoration-none" target="_blank" href="http://alfabetizacao.mec.gov.br/contapramim">MEC - Conta pra mim </a>
    </div>
{% endblock %}