{% extends "base.html" %}

{% block content %}
    <h1>{% block title %} Conta pra mim {% endblock %}</h1>
        <div class="container">
            <div class="row justify-content-md-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL9nJ11ynWg3fH9HOK2sp-QBBaMDf3iTBH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
{% endblock %}